/*
 * This file is imported in theme.scss.
 * You can edit this directly on NationBuilder.
 */

.button {
    border       : 1px solid #eee;
    padding      : 10px;
    border-radius: 5px;
    background   : #d9b67e;
    color        : #000 !important;
    font-weight  : bold;
}